Makefile
sleuthkit/
Resources/guiforms/
AFFLIBv3/
*.o
qrc*.o
qrc*.cpp
moc*.cpp
wombatforensics
*.swp
debug/
release/
Makefile.Debug
Makefile.Release
*.Debug
*.Release
Makefile.*
wombatforensics
reference
blake3/libblake3.a
