Makefile
sleuthkit/
Resources/guiforms/
AFFLIBv3/
*.o
qrc*.o
qrc*.cpp
moc*.cpp
wombatforensics
*.swp
debug/
release/
Makefile.Debug
Makefile.Release
*.Debug
*.Release
Makefile.*
foxtest/wombatforensics
foxtest/reference
